         :root{
                --color-darkblue-alpha:rgba(27, 27, 50, 0.8);
            }
            body{
                background: linear-gradient(45deg, #A9A9A9, #D3D3D3, rgb(240, 240, 255));
                font-family: cursive;
                max-width: 100%;
                max-height: auto;
            }
            h1{
                font-size: 45px;
                font-weight: bold;
            }
            p {
                margin-top: 0;
                margin-bottom: 1rem;
                text-align: justify;
            }
            .container{
                margin: 0 auto;
                width: 80%;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #212529;
                text-align: left;
                background-color: #fff;
                border-bottom-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .header{
                display: block;
                padding: 0.5rem 1.5rem;
                margin-bottom: 0;
                font-size: 0.875rem;
                color: #6c757d;
                white-space: nowrap; 
            }
            .form-group {
                margin: 0 auto 1.25rem auto;
                padding: 0.25rem;
                color: aliceblue;
                display: block;
            }
            .sub-form{
                width: 80%;
                height: 3.25rem;
                margin: 5px;
                border-radius: 7px;
            }
            .label{
                max-width: 100vw;
                margin: 5px;
                display: block;
            }
            #title{
                margin: auto 0;
                text-align: center;
                text-transform: capitalize;
            }
            #description{
                margin: auto 0;
                text-align: center;
            }
            #survey-form{
                display: block;
                background: var(--color-darkblue-alpha);
                padding: 2.5rem 0.625rem;
                border-radius: 0.25rem;
                max-width: 100%;
                max-height: auto;
                color: #495057;
            }
            .button{
                background: teal;
                width: 7.5rem;
                height: 3rem;
                margin: 7px;
                padding: 10px;
                border-bottom-left-radius: 10px;
                border-top-right-radius: 10px;
                cursor: pointer;
            }
            